.firstdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height:500px
    
}

.heading{
    font-family: copperplate;
    font-weight: bold;
    color: antiquewhite;
    font-size:100px;
    -webkit-text-stroke-width: 4px;
    /* -webkit-text-stroke-color: black; */
}