.app{
  
  width: 100vw;
    height: 100vh;
    max-width:100%; 
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  
}

.nav{

  /* background-color: antiquewhite; */
  overflow: hidden;
  width: 100vh;
}




